/*
         ,,                                                                   
       `7MM                                   `7MM                            
         MM                                     MM                            
 ,p6"bo  MM  .gP"Ya   ,6"Yb.  `7Mb,od8 ,pP"Ybd  MM  ,MP'`7M'   `MF'`7M'   `MF'
6M'  OO  MM ,M'   Yb 8)   MM    MM' "' 8I   `"  MM ;Y     VA   ,V    VA   ,V  
8M       MM 8M""""""  ,pm9MM    MM     `YMMMa.  MM;Mm      VA ,V      VA ,V   
YM.    , MM YM.    , 8M   MM    MM     L.   I8  MM `Mb.     VVV        VVV    
 YMbmd'.JMML.`Mbmmd' `Moo9^Yo..JMML.   M9mmmP'.JMML. YA.    ,V         ,V     
                                                           ,V         ,V      
                                                        OOb"       OOb"  
/*
/* ------------------------------------------------------------------------ General Styles */
/* ------------------------------------------------------------------------ General Styles */
/* ------------------------------------------------------------------------ General Styles */
/* ------------------------------------------------------------------------ General Styles */
/* ------------------------------------------------------------------------ General Styles */

    @font-face{	font-family: Roboto; src: url(font/Roboto-Regular.ttf); }
	@font-face{	font-family: irobo;	src: url(font/Roboto-MediumItalic.ttf); }
	
	::selection 
	{ 
		background-color: #0056ab; 
		color: #fff; 
	}
	
	::-moz-selection
	{ 
		background-color: #0056ab; 
		color: #fff; 
	}

	/* HTML ENTITIES */
	
	html 
	{ 	
		font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
		font-size: 91%;
		color: #222;
		background: url(img/tex2res5.png);
		min-height: 110%;
	}
	
	a 
	{ 
		text-decoration: none; 
		border-bottom: 1px dashed #09c; 
		color:#09c; 
		border:none; 
	}
		
		a:hover 
		{ 
			border-bottom: 1px solid #09c; 
		}
		
		a img 
		{ 
			border: none; 
		}
	
	blockquote 
	{
		font-family: Georgia, Times, "Times New Roman", serif;
		font-style: italic;
		color: #383838;
		width: 50%;
		margin: 2% auto;
	}
	
		blockquote cite
		{
			color: #999;
			font-size: 87.5%;
			display: block;
			margin-top: 5px;
		}
	
			blockquote cite:before 
			{
				content: '\2014 \2009';
			}

	h1, h2, h3
	{ 
		letter-spacing: -1px; 
		font-weight:200; 
		text-shadow: 1px 1px 0 #ddd; 
	}
	
	h1, h2, h3 .edit 
	{ 
		font-family: Cambria, Georgia, serif; 
	}

	h4, h5, h6 
	{ 
		letter-spacing: -1px;
	}

	table 
	{ 
		border-collapse: collapse; 
		font-size: 90%; 
		width:100%; 
		background-color: #f9f9f9;
		font-family: font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	}
		table th 
		{ 
			background-color: #333; 
			color: #eee; 
			text-align: center; 
			font-weight:normal; 
			font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
		} 
		
		table tr:nth-child(2) th
		{ 
			font-family: Cambria, Georga, serif; 
			font-size: 116%; 
		}
	
	pre 
	{ 
		margin-left: 2%;
	}
	
	select 
	{ 
		padding: .5%; 
	}

	input 
	{ 
		padding: .5%; 
		width: 80%;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
	}
	
		input[type=text]
		{ 
			border: 1px solid #999; 
			padding: 1%; 
			border-radius: 2px; 
		}
		
		input[type=password]
		{
			border: 1px solid #999;
			padding: 1%;
			border-radius: 2px;
		}
		
		input[type=submit]
		{
			width: 25%;
			border: 1px solid #333;
			border-bottom: 2px solid #09c;
			background-color: #333;
			color: #ccc;
			font-size: 100%;
			font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
			border-radius: 4px;
			-moz-border-radius: 4px;
			transition: background 1s, border 1s;
			-webkit-transition: background 1s, border 1s;
		}
		
		input[type=submit]:hover
		{
			border: 1px solid #09c;
			background-color: #09c;
			border-bottom: 2px solid #09c;
		}
	
	textarea 
	{ 
		padding: .75%; 
		width: 50%; 
	}
	
	/* CLASSES */
	.selectnav { display: none; }
	
	.th-main  
	{ 
		font-style: italic; 
		font-size: 142%; 
	}
	
	.type-ribbon 
	{ 
		width: 45%; 
		position: relative; 
		margin-left: .5%;
	}
	
		.type-ribbon h3 
		{
			display: block;
			height: 62.5%;
			line-height: 1.3;
			margin: 0;
			padding: 1.25% 10.5%;
			position: relative;
			left: -5%;
			top: 50%;
			color: #cfcfcf;
			text-shadow: 0 1px 1px #111;
			border-top: 1px solid #363636;
			border-bottom: 1px solid #202020;
			background: #333;
			box-shadow: 0 1px 2px rgba(0,0,0,0.3);
			font-family: "Lucida Bright", Georgia, serif;
		}
	
			.type-ribbon h3:before 
			{
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				bottom: -11px;
				z-index: 2;
				border-style: solid;
				border-width: 10px 0 0 10px;
				border-color: #242424 transparent transparent transparent;
			}
	
			.type-ribbon h3::before 
			{ 
				left: 0;
			}
	
	.type-ribbon-small 
	{ 
		width: 45%;
		position: relative;
		margin-left: -.55%;
	}
	
		.type-ribbon-small h3 {
			display: block;
			height: 62.5%;
			line-height: 1.3;
			margin: 0;
			padding: 1.25% 10.5%;
			position: relative;
			left: -5%;
			top: 50%;
			color: #cfcfcf;
			text-shadow: 0 1px 1px #111;
			border-top: 1px solid #363636;
			border-bottom: 1px solid #202020;
			background: #333;
			box-shadow: 0 1px 2px rgba(0,0,0,0.3);
			font-family: "Lucida Bright", Georgia, serif;
		}
	
			.type-ribbon-small h3:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				bottom: -11px;
				z-index: 2;
				border-style: solid;
				border-width: 10px 0 0 10px;
				border-color: #242424 transparent transparent transparent;
			}
	
			.type-ribbon-small h3::before { left: 0;}

	.content { clear:both; width: 100%; margin: 1.25% 0; padding: 1%; background-color: #f9f9f9; border: 1px solid #ccc; }
	.content-half { width: 46%; margin: 1.25% 1%; padding: 0.5%; background-color: #f9f9f9; border: 1px solid #ccc; float: left; }
	
	.content-clear
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(105,150,173,0.6); 
		font: 100%/1.5 segoe ui; 
	}
	
	.content-cje2510 
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(105,150,173,0.6); 
		font: 100%/1.5 segoe ui; 
	}
	
	.content-clearskyy 
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: #333; 
		color: #ddd; 
		font: 100%/1.5 segoe ui; 
	}
		.content-clearskyy  a
		{ 
			color: #fff; 
			border-bottom: 1px dashed #09C; 
		}
		.content-clearskyy  a:hover{ color: #09c; border-bottom: 1px solid #09C; }
		.content-clearskyy h1{ text-shadow: 1px 1px 0 #111; }
		.content-clearskyy h2{ text-shadow: 1px 1px 0 #111; }
		.content-clearskyy h3{ text-shadow: 1px 1px 0 #111; }
		.content-clearskyy td{ color: #222; text-shadow: none; }
			.content-clearskyy .type-ribbon h3{ background-color: #222; }
	
	.content-demon 
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(0,153,204,0.5); 
		font: 100%/1.5 segoe ui;
	}
	
	.content-Don-E 
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(51,211,255,0.8); 
		font: 100%/1.5 segoe ui;
	}
	
	.content-demonphoenix37
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0;
		padding: 1%; 
		background-color: rgba(0,153,204,0.5);
		font: 100%/1.5 segoe ui;
	}
		.content-demonphoenix37 a { color: #fff; }
	
	.content-mrfixit { 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(0,0,0,0.8); 
		color: #fff; 
		font: 100%/1.5 segoe ui;}
		
		.content-mrfixit table{ color: #222; }
	
	.content-NexusSloth 
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(225,191,205,0.8); 
		color: #000; 
		border: 1px #957381 solid; 
		font: 100%/1.5 segoe ui; 
	}
	
	.content-Acceptance 
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(155,86,141,0.8); 
		color: #000; 
		border: 1px #957381 solid; 
		font: 100%/1.5 segoe ui; 
	}
		.content-Acceptance  a{ color: #fff; }
	
	.content-jessikchu 
	{ 
		clear:both; 
		width: 100%; 
		margin: 1.25% 0; 
		padding: 1%; 
		background-color: rgba(124,252,0,0.7); 
		color: #000; 
		border: 1px #957381 solid; 
		font: 100%/1.5 segoe ui; 
	}
	
	.edit 
	{ 
		background-color: rgba(0,0,0,.8); 
		color: #fff;
		clear:both; 
		width:100%; 
		margin: 1.25% 0;
		padding: 1%; 
		font-family: Consolas, monaco, monospace; 
	}
	
	.img-btm { width: 75%; }
	
	.table-divider
	{
		background-color: #333; 
		color: #eee; 
		font-family: Cambria, Georga, serif; 
		text-align: center; 
		padding: 0;
	}
	
	.warn 
	{ 
		border: 0.125em solid #FCEC4B; 
		background-color: #FBFB5A; 
		text-align: center; 
		color: #585817; 
		padding: 1%; 
		margin: 1% auto; 
	}
	
	.center { margin: 0 auto; text-align: center; }
	.right { float: right; }
			
	/* IDS */
	
	#cloud
	{ 
		width: 90%; 
		margin: 0 auto; 
		overflow: visible; 
		padding: 1%; 
		background-color: #f9f9f9; 
	}
	
	#nexus 
	{ 
		width: 90%; 
		margin: 0 auto; 
		padding: 0;  
	}
	
	#wrap-left { padding: 0; margin: 0; float:left; width: 70.75%; }

	#sidebar
	{ 
		float: right; 
		width: 25%; 
		margin: 1% 0; 
		clear: none;	 
		padding: 1%;
		/*background-color: #f9f9f9;border: 1px solid #ccc; */
	}
		#sidebar table
		{ 
			table-layout: fixed; 
			word-break: break-all; 
		}
		
	#boot { width: 100%; clear: both; }
	#first { width: 30%; margin: 1.25% 1%; padding: 0.5%; background-color: #f9f9f9; border: 1px solid #ccc; float: left; }
	#second { width: 30%; margin: 1.25% 1%; padding: 0.5%; background-color: #f9f9f9; border: 1px solid #ccc; float: left; }
	#third { width: 30%; margin: 1.25% 1%; padding: 0.5%; background-color: #f9f9f9; border: 1px solid #ccc; float: left; }

	#search { width: 0; border: 0; font-family: Roboto; padding: 0.188em; margin: 0;}
	#ouch { position: absolute; top: 5.375em; left: 30.625em; /* 490px */ }
	#download { padding-top: 3px; }
	#selectnav1 { width: 100%; }


	/* -------------------------------------------------- articles.php */

	#articlesEverywhere { border-collapse: collapse; font-family: Cambria, Georgia, serif; margin-bottom: 5px; width: 100%; }
		#articlesEverywhere  a{ color: #444; }
		#articlesEverywhere  tr { height: 250%;} /* 40px | 2.5em */
		#articlesEverywhere td { background-color: #fff; }
	
	.yourMom { width: 100%; } /* jessika's ad */

	/* -------------------------------------------------- caboose.php */

	#caboose{ width: 98%; margin:0; overflow:hidden; background: #333; bottom: 0; }

	#footer { position: fixed; left: 0; bottom: 0; height: 1.875em; width: 100%; background: #333; color:#eee; }
		/* IE 6 */
		
		* html #footer { 
			position: absolute; 
			top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
		}

	/* -------- clearskyy.php / profiles */
	
	#avatar
	{ 
		text-align:center; 
	}
	#games
	{ 
		width: 100%; 
		clear:both; 
	}
	
	/* --------------------- codinghighlights.php */

	#highlight h4 
	{ 
		padding: 62.5% 125%; 
		margin: 0; 
	}
		
		#highlight h4:hover 
		{ 
			color: #09c; 
			cursor: help; 
		}

	#highlight p 
	{ 
		margin: 62.5% 0 62.5% 125%; 
		width: 43.75em; 
	}

	/* ------------ contact.php */

	.text 
	{ 
		padding: 31.3%; 
		font-family: Roboto; 
		width: 14.75em; 
	}
	
	#message 
	{ 
		padding: 0.625em; 
		font-family: Roboto; 
		margin: 0.188em 0 0 0; 
		height: 50px; 
	}
	
	#subject 
	{ 
		width: 15.625em; 
		padding: 0.313em; 
	}

	/* ------- editorials */

	#date { color: #999; font-family: irobo;  }


	/* -----  menu.php -------- */
	
	.expand, .hide 
	{ 
		cursor: pointer; 
		float: right; 
		font-size: 0.85em; 
		clear:both; 
	}
	
	.thatdamnsubnav { box-shadow: 0.125em 0.125em 0.313em #999; margin: 0; margin-left: 6.875em; position: absolute; background-color: #444; color: #fff; }
		.thatdamnsubnav tr:hover { background-color: #555;}
		.thatdamnsubnav a { display:block; }
		.thatdamnsubnav a:hover { text-decoration:none; color: #1ad; }
	
	#clrskyy { width: 100%; margin: 0 auto; overflow:hidden; position: relative; top: 0; }
		#clrskyy a { margin: 0 auto; border: none; }
	#clearskyyCloud { width: 15.75%; position: relative; left: 45%; }
		
	#nav { width: 100%; margin: 0 auto; overflow:hidden;  }

	#thosedamnlinks { border: none; border-collapse: collapse; width: 90%; margin: 0 auto; }
		#thosedamnlinks td { padding: 0.25%; color: #fff; text-align: center; height: 1.875em; width: 15%; border: 1px solid #444; background-color: #333; }
		
		#thosedamnlinks a { 
			font-family: "Andale Mono", AndaleMono, monospace;
			color: #fff; 
			font-size: 155%; 
			text-decoration: none; 
			letter-spacing: -9.4%; 
			font-weight: lighter; 
			width: 100%; 
			height: 100%;
			text-shadow: 0 1px 1px #ccc;
			border: none;
			display: block;
		}

	#thosedamnprojectlinks { margin-left: 24em; width: 12em; }
	#thosedamncontactlinks { margin-left: 48em; width: 12em; }

	/* ------------- PDF Bombs */

		/* Add " (PDF)" text after links that go to PDFs */
		
		a[href$=".pdf"]:after { content: " (pdf)"; }
		
		/* if file size specified as data attribute, use that too */
		
		a[href$=".pdf"][data-size]:after { content: " (pdf, " attr(data-size) ")"; }
		
	/* Ribbon from CSS-Tricks - modified */


	/* ------- Ribbon from CSS-Tricks modified */

.ribbon {
	 font-size: 121% !important;
	 font-family: "Arial Narrow", Arial, sans-serif;
	 letter-spacing: 1px;
	 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

	 width: 50%;
		
	 position: relative;
	 background: #09c;
	 color: #fff;
	 text-align: center;
	 padding: 1em 2em; /* Adjust to suit */
	 margin: 2em auto 3em; 
	 /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
	.ribbon:before, .ribbon:after {
		 content: "";
		 position: absolute;
		 display: block;
		 bottom: -1em;
		 border: 1.5em solid #07a;
		 z-index: -1;
	}
	
	.ribbon:before {
		 left: -2em;
		 border-right-width: 1.5em;
		 border-left-color: transparent;
	}
	
	.ribbon:after {
		 right: -2em;
		 border-left-width: 1.5em;
		 border-right-color: transparent;
	}
	.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
		 content: "";
		 position: absolute;
		 display: block;
		 border-style: solid;
		 border-color: #058 transparent transparent transparent;
		 bottom: -1em;
	}
	.ribbon .ribbon-content:before {
		 left: 0;
		 border-width: 1em 0 0 1em;
	}
	.ribbon .ribbon-content:after {
		 right: 0;
		 border-width: 1em 1em 0 0;
	}

.non-semantic-protector { position: relative; z-index: 1; }
.non-semantic-protector  h1{ text-shadow: none; }

@media only screen
and (max-width: 321px) {
	.content-half img { clear:both;margin: 0 1.5% 1% 0;width: 100%;}
	
	#boot div { width: 100%; }
	
	.js #navi { display: none; }
	.js .selectnav { display: block; }
	
}

/* ------------------------------------------------------------------------------- Mobile */
/* ------------------------------------------------------------------------------- Mobile */
/* ------------------------------------------------------------------------------- Mobile */
/* ------------------------------------------------------------------------------- Mobile */
/* ------------------------------------------------------------------------------- Mobile */
@media only screen 
and (max-width: 600px) {
/* Styles */

html { font-size: 100%; }
	
a 
{ 
	text-decoration: none; 
	border-bottom: 1px dashed #09c; 
	color:#09c; 
}
	a:hover 
	{ 
		border-bottom: 1px solid #09c; 
	}
	
blockquote 
{ 
	font-family: Georgia, Times, "Times New Roman", serif; 
	font-style: italic; 
	color: #383838; 
	width: 90%; 
	margin: 2% auto; 
}
	blockquote cite 
	{ 
		color: #999; 
		font-size: 87.5%; 
		display: block; 
		margin-top: 5px; 
	}

h1, h2, h3 { letter-spacing: -1px; font-weight:200; }
	h1, h2, h3 .edit { font-family: Cambria, Georgia, serif; }
h4, h5, h6 { letter-spacing: -1px;}

table { font-size: 90%; width:95%; margin: 0 auto;}
	table th { text-align: center; font-weight:normal; } 
	table tr:nth-child(2) th{ font-family: Cambria, Georga, serif; font-size: 116%; }
	
iframe { width: 98%; }

/* selectnav */
.js #navi { display: none; }
.js .selectnav { display: block; }

.th-main  { font-style: italic; font-size: 142%; }
	
.type-ribbon { 
	width: 95%; 
	position: relative; 
}
	.type-ribbon h3 { 
		display: block; height: 62.5%; line-height: 1.3; margin: 0; padding: 1.25% 10.5%; 
		position: relative; top: 50%; color: #cfcfcf; text-shadow: 0 1px 1px #111;
		border-top: 1px solid #363636; border-bottom: 1px solid #202020; background: #333; 
		box-shadow: 0 1px 2px rgba(0,0,0,0.3); font-family: "Lucida Bright", Georgia, serif;
	}

	
#nexus 
{ 
	width: 99%; 
	margin: 0 auto; 
	padding: 0;  
}

#wrap-left
 { 
	padding: 0; 
	margin: 0 auto; 
	width:99%;
}

#sidebar
{ 
	width: 99%; 
	margin: 1% auto; 
	clear: both;  
	padding: 1%; 
}

#boot div 
{ 
	width: 99%; 
}

#search { width: 0; border: 0; font-family: Roboto; padding: 0.188em; margin: 0;}
#cloud { width: 90%; margin: 0 auto; overflow: visible; padding: 1%; background-color: #f9f9f9; }
	
.content-half 
{ 
	margin: 2% auto; 
	padding: 0 2%; 
	width: 99%; 
	clear: both; 
}
	.content-half img 
	{ 
		clear:both;
		margin: 0 1.5% 1% 0;
		width: 100%;
	}
	
.content-clear 
{ 
	clear:both; 
	width: 99%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(105,150,173,0.6); 
}
	.content-clear a { color: #fff; }

.content-demon 
{ 
	clear:both; 
	width: 99%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(0,153,204,0.5);
}

.content-mrfixit 
{ 
	clear:both; 
	width: 99%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(0,0,0,0.8); 
	color: #fff;
}

.content-cje2510 
{ 
	clear:both; 
	width: 99%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(105,150,173,0.6); 
	font: 100%/1.5 segoe ui; 
}
	
.content-clearskyy 
{ 
	clear:both; 
	width: 99%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: #333; 
	color: #ddd; 
	font: 100%/1.5 segoe ui; 
}
	.content-clearskyy  a { color: #fff; border-bottom: 1px dashed #09C;	}
	.content-clearskyy  a:hover{ color: #09c; border-bottom: 1px solid #09C; }
	.content-clearskyy h1{ text-shadow: 1px 1px 0 #111; }
	.content-clearskyy h2{ text-shadow: 1px 1px 0 #111; }
	.content-clearskyy h3{ text-shadow: 1px 1px 0 #111; }
	.content-clearskyy td{ color: #222; text-shadow: none; }
		.content-clearskyy .type-ribbon h3{ background-color: #222; }
	
	.content-demon { clear:both; width: 100%; margin: 1.25% 0; padding: 1%; background-color: rgba(0,153,204,0.5); font: 100%/1.5 segoe ui;}
	
.content-Don-E 
{ 
	clear:both; 
	width: 99%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(51,211,255,0.8);
	font: 100%/1.5 segoe ui;
}
	
.content-demonphoenix37 
{ 
	clear:both; 
	width: 100%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(0,153,204,0.5); 
	font: 100%/1.5 segoe ui;
}
	.content-demonphoenix37 a { color: #fff; }
	
.content-mrfixit { 
	clear:both; 
	width: 100%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(0,0,0,0.8); 
	color: #fff; 
	font: 100%/1.5 segoe ui;
}
		
	.content-mrfixit table{ color: #222; }
	
.content-NexusSloth 
{ 
	clear:both; 
	width: 100%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(225,191,205,0.8); 
	color: #000; 
	border: 1px #957381 solid; 
	font: 100%/1.5 segoe ui; 
}

.content-Acceptance 
{
	clear:both; 
	width: 100%; 
	margin: 1.25% 0; 
	padding: 1%; 
	background-color: rgba(155,86,141,0.8); 
	color: #000; 
	border: 1px #957381 solid; 
	font: 100%/1.5 segoe ui; 
}
		.content-Acceptance  a{ color: #fff; }

.content-jessikchu 
{ 
	clear:both;
	width: 100%; 
	margin: 1.25% 0;
	padding: 1%; 
	background-color: rgba(124,252,0,0.7); 
	color: #000; 
	border: 1px #957381 solid; 
	font: 100%/1.5 segoe ui; 
}	
	
.edit 
{ 
	background-color: rgba(0,0,0,.8); 
	color: #fff; 
	clear:both; 
	width:100%; 
	margin: 1.25% 0; 
	padding: 1%; 
	font-family: Consolas, monaco, monospace; 
}
		
.img-btm { width: 75%; }

.table-divider 
{ 
	background-color: #333; 
	color: #eee; 
	font-family: Cambria, Georga, serif; 
	text-align: center; 
	padding: 0;
}


/* --------------- articles.php */

#articlesEverywhere 
{ 
	border-collapse: collapse; 
	font-family: Cambria, Georgia, serif; 
	margin-bottom: 5px; 
	width: 100%; 
}

	#articlesEverywhere  a{ color: #444; }
	#articlesEverywhere  tr { height: 250%;} /* 40px | 2.5em */
	#articlesEverywhere td { background-color: #fff; }

/* --------------- caboose.php */
#caboose{ width: 98%; margin: 0.625em auto; overflow:hidden; font-size: 0.85em; }

#footer { position: fixed; left: 0; bottom: 0; height: 1.875em; width: 100%; background: #333; color:#eee; }
		/* IE 6 */
		
		* html #footer { 
			position: absolute; 
			top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
		}

/* --------------- clearskyy.php / profiles */
	
#avatar { text-align:center; }
#games { width: 100%; clear:both; }
	
/* ------------------- codinghighlights.php */

#highlight h4 { padding: 62.5% 125%; margin: 0; }
	#highlight h4:hover { color: #09c; cursor: help; }

	#highlight p { margin: 62.5% 0 62.5% 125%; width: 43.75em; }

/* ----------- contact.php */

.text { padding: 31.3%; font-family: Roboto; width: 14.75em; }
#message { padding: 0.625em; font-family: Roboto; margin: 0.188em 0 0 0; height: 50px; }
#subject { width: 15.625em; padding: 0.313em; }

/* ------------------------- editorials */

#date { color: #999; font-family: irobo;  }


/* ------------------  menu.php -------- */
#clrskyy p { margin: 0; }

#clearskyyCloud { 
	width: 20%; 
	position: relative; 
	left: 45%; 
}
		
#nav { 
	width: 100%; 
	margin: 0 auto; 
	overflow:hidden;  
}
		
#thosedamnlinks { 
	width: 98%; 
	margin: 0 .5%; 
}
	#thosedamnlinks td { 
		padding: 0; 
		height: 4em; 
		width: 100%; 
		float: left; 
	}
	#thosedamnlinks a {
		margin-top: 5%;
	}

/*------------------ nav ---------------*/
#nav a { 
	  border-bottom: 2px SOLID #333; 
	  border-top: 1px SOLID #333;
}
	#nav a:hover { 
	  border-bottom: 2px SOLID #09C;
	  border-top: 1px SOLID #333;
	}

#nav ul 
{ 
	  list-style: NONE; color: #EEE;
	  width: 100%; position: relative;
	  top: 0; background-color: #333; 
	  z-index: 5; margin: 0; padding: 0;	  
}

	#nav ul li { 
	  width: 100%; padding: 0; position: relative;
	  border: 1px SOLID #222; background-color: #222;
	  text-align: CENTER; font-size: 95%;
	}

		#nav ul li a { 
		  display: BLOCK;  color: #EEE;  padding: 2% 5%;
		  border-top: 1px SOLID #555; background-color: #333;
		}


		#nav ul li ul { 
		  margin: 40px 0; padding: 0; z-index: 5; background: none;

		}

			#nav ul li ul li { 
			  float: NONE; width: 100%;
			  border: 2px SOLID #222; 
			}

				#nav ul li ul li a { 
				  display: BLOCK; padding: 3% 0; text-align: CENTER;
				  border-top: 1px SOLID #555; 
				}

					#nav ul li ul li a:hover{
					  border-top: 1px SOLID #333;
					}

}

/* ------------------------------------------------------------------------------- Desktop */
/* ------------------------------------------------------------------------------- Desktop */
/* ------------------------------------------------------------------------------- Desktop */
/* ------------------------------------------------------------------------------- Desktop */
/* ------------------------------------------------------------------------------- Desktop */
@media (min-width: 601px){

html { height:100%;}
body  { margin: 0; height:100%;}

.content-half img { float:left;margin: 0 1.5% 1% 0;width: 30%;}

#nav .sticky 
{
	position: fixed;
	top: 0;
	margin: 0;
	width: 100%;
	z-index: 5;
	background-color: #333;
}



/*------------------ nav ---------------*/
#nav a { 
	  border-bottom: 2px SOLID #333; 
	  border-top: 1px SOLID #333;
 }
	#nav a:hover { 
	  border-bottom: 2px SOLID #09C;
	  border-top: 1px SOLID #333;
	}

#nav ul { 
	  list-style: NONE; color: #EEE;
	  width: 100%; position: fixed;
	  top: 0%; background-color: #333; 
	  z-index: 5; margin: 0; padding-left: 4.5%;
	  
}

#caboose { bottom: 0; width: 98%; height:50ems; background:#333; padding: 1%; margin:0;}
#nexus { min-height:100%; position: relative;}

	#nav ul li { 
	  float: LEFT; width: 7%; padding: 0;
	  border: 1px SOLID #222; background-color: #222;
	  text-align: CENTER; font-size: 95%;
	}

		#nav ul li a { 
		  display: BLOCK;  color: #EEE;  padding: 5.5% 0%;
		  border-top: 1px SOLID #555; background-color: #333;
		}

	/* children */
		#nav ul li ul { 
		  margin: 40px 0; padding: 0; z-index: 5; background: none;

		}

			#nav ul li ul li { 
			  float: NONE; width: 9.55%;
			  border: 2px SOLID #222; 
			}

				#nav ul li ul li a { 
				  display: BLOCK; padding: 3% 0; text-align: CENTER;
				  border-top: 1px SOLID #555; 
				}

					#nav ul li ul li a:hover{
					  border-top: 1px SOLID #333;
					}



}
